.whiteback{
	padding: 50px 150px 50px 150px;

}

h5, #umd{
	margin-left: 20px;
	text-align-last: justify;


}

.education{
	text-align: left;
	text-align-last: left;
}

p, ul {
	font-family: 'Hind', serif;
}

ul{
	margin-left: 15px;
	list-style-type: none;
}

a:hover {
	background-color: #f5cf29;
}

h2, i, .degree{
	text-decoration: underline;
	text-decoration-color: #f5cf29;

}


/* MEDIA QUERIES */

@media (max-width: 768px) {


	.whiteback{
		max-width: 100%;
		max-height: 1000px;
		padding: 0;

	}

	.container, .whiteback{
		padding-left: 5px;
		width: 300px;

	}

	.container, .container-fluid{
		width: 300px;

	}

	h1{
		text-align: center;
		text-indent: 50px;
	}

	h5, #umd{
		text-align-last: left;

	}

	.box{
		margin: 0;
		padding: 0;
		border: 0;
	}
}
